.statistics {
  width: 250px;
  margin: 15px auto;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgb(103 103 102 / 89%) 0px 5px 25px 5px;
}
.title {
  padding: 25px;

  font-size: 14px;
  font-weight: 600;
  color: #938f8f;
  text-align: center;
  text-transform: uppercase;
  background: white;
}
.stat__list {
  display: flex;
}
